.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .tools {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e5e5e5;

        button {
            margin: 0 3px 0 3px;
            padding: 3px;
            background-color: black;
            color: white;
            border-radius: 2px;
            border: none;

            &:hover:not([disabled]) {
                cursor: pointer;
                background-color: white;
                color: black;
            }

            &:disabled {
                background: rgb(125, 125, 125);
                cursor: no-drop;
            }
        }
    }

    .preview {
        width: 100%;
        height: calc(100% - 30px);
        background-color: #edede9;
        overflow: auto;
    }
}