<div class="bravo-tab-grid-layout">
  <wj-tab-panel #tab [selectedIndex]="0">
    <wj-tab *ngFor="let tab of tabsInfo">
      <div>{{tab.header}}</div>
      <div>
        <as-split direction="horizontal">
          <as-split-area [size]="70">
            <wj-flex-grid #grid (initialized)="gridInitialized(grid)" [itemsSource]="tab.data">
              <wj-flex-grid-column *ngFor="let column of tab.columns" [header]="column" [binding]="column">
              </wj-flex-grid-column>
            </wj-flex-grid>
          </as-split-area>
          <as-split-area [size]="30">
            <div class="grid-info">
              <div class="search">
                <wj-combo-box #search [itemsSource]="tab.search" [selectedIndex]="selectedColumn"></wj-combo-box>
              </div>
              <div class="info"></div>
            </div>
          </as-split-area>
        </as-split>
      </div>
    </wj-tab>
  </wj-tab-panel>
</div>
