.bravo-tab-grid-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    wj-tab-panel {
        width: 100%;
        height: 100%;

        .wj-tabpane {
            width: 100%;
            height: 100%;

            &.wj-state-active {
                display: flex;
                flex-direction: row;
            }

            wj-flex-grid {
                width: 100%;
                height: 100%;
            }

            .grid-info {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .search {
                    width: 100%;
                    height: 25px;
                    border: 1px solid #acacac;
                }

                .info {
                    width: 100%;
                    height: 100%;
                    margin-top: 3px;
                    border: 1px solid #acacac;
                }
            }
        }
    }
}