<div class="full">
    <div class="container">
        <as-split direction="horizontal">
            <as-split-area [size]="100">
                <as-split direction="vertical">
                    <as-split-area [size]="100">
                        <router-outlet></router-outlet>
                    </as-split-area>
                    <as-split-area [size]="0">
                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area [size]="0">
            </as-split-area>
        </as-split>
    </div>
</div>