:host>>>.wj-calendar .wj-calendar-outer {
    padding: unset;
    margin: 3px;
}

:host>>>.wj-calendar .wj-calendar-outer .wj-header {
    background-color: unset;
    color: inherit;
}

:host>>>.wj-calendar .wj-calendar-outer td {
    padding: 4px 2px 4px 2px;
    font-size: 85%;
}

:host>>>.wj-calendar .wj-calendar-outer td.wj-state-selected {
    background-color: #227DD4;
}

:host>>>.wj-calendar .wj-calendar-outer td.wj-state-multi-selected {
    background-color: #227DD4;
}

:host>>>.wj-calendar .wj-calendar-outer td.wj-day-othermonth {
    visibility: hidden;
}

:host>>>.wj-content.wj-calendar-outer {
    border: unset;
}